.scrolled-top {
  opacity: 0;
  transform: translateY(50px);
  animation: scroll-in 2s forwards;
}

@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.scrolled-down {
  opacity: 0;
  transform: translateY(-150px);
  animation: scroll-down 2s forwards;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#navigation {
  position: fixed;
  z-index: 50;
  background-color: #FFD5A2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-550px);
  transition: transform 0.3s;
}
#navigation.active {
  transform: translate(0);
}

.container-menu {
  width: 100%;
  height: 90%;
  padding-top: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF5E9;
  overflow: hidden;
}

.container__nav-imgs > img {
  position: absolute;
  width: 90px;
  height: 90px;
}

.container__nav-imgs {
  opacity: 0;
}
.container__nav-imgs .img__nav-cat-black {
  top: 50%;
  right: 30%;
  animation: floating 5s ease-in-out 2s infinite;
}
.container__nav-imgs .img__nav-cat-blue {
  top: 12%;
  left: 30%;
  animation: floating 5s ease-in-out 2s infinite;
}
.container__nav-imgs .img__nav-cat-orange {
  bottom: 10%;
  left: 10%;
  width: 60px;
  height: 60px;
  animation: floating 5s ease-in-out 2s infinite;
}
.container__nav-imgs .img__nav-Flower {
  bottom: 45%;
  left: 30%;
  height: 40px;
  width: 40px;
  animation: rotate 13s linear infinite;
}
.container__nav-imgs .img__nav-Hibiscus {
  bottom: 3%;
  right: 0;
  height: 250px;
  width: 250px;
  animation: rotate 13s linear infinite;
}
.container__nav-imgs .img__nav-logo {
  top: 5%;
  left: 50%;
}
.container__nav-imgs .img__nav-Orchid {
  top: 7%;
  left: -2%;
  animation: rotate 13s linear infinite;
}
.container__nav-imgs .img__nav-Ramdom-flower {
  top: 40%;
  right: -1%;
  height: 50px;
  width: 50px;
  animation: rotate 13s linear infinite;
}
.container__nav-imgs .img__nav-sunflower {
  top: 5%;
  right: 20%;
  height: 140px;
  width: 140px;
  animation: rotate 13s linear infinite;
}

.container__nav-imgs.active {
  opacity: 1;
}

ul {
  list-style: none;
}

ul > li {
  margin-bottom: 30px;
}

li > .link__nav {
  text-decoration: none;
  font-size: 3rem;
}

.link-footer-menu-nav {
  font-size: 9px;
  margin-bottom: 10px;
  text-decoration: none;
}

li > .link__nav:hover {
  text-shadow: #ff9100 5px 5px 7px;
  color: #000;
}

.title-nav-fermer {
  z-index: 10000;
  position: fixed;
  top: 7%;
  left: 39%;
  font-family: "Quicksand", sans-serif;
  font-size: 21.5px;
}

.nav-toggle {
  position: fixed;
  z-index: 10000;
  top: 40px;
  right: 30px;
  width: 30px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.nav-toggle.active .l1 {
  transform: translateY(0px) rotate(135deg);
}

.nav-toggle.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.nav-toggle.active .l2 {
  opacity: 0;
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.line.l1 {
  transform: translateY(-10px);
}
.line.l3 {
  transform: translateY(10px);
}

#banner {
  min-height: 606px;
}

.video__img-txt {
  z-index: 2;
}

#background-video {
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

/*   A n i m a t i o n  :  F l o t t e m e n t   */
.floating {
  opacity: 1;
  animation: floating 5s ease-in-out 2s infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.story__article::after {
  animation: rotate 13s linear infinite;
}

.story h2::after {
  animation: rotate 13s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 350px;
  margin-right: 200px;
}
.swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
}

.story #place {
  background-image: url("../images_koukaki/Studio_Koukaki-image_place.png");
  background-attachment: fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.story #place .container {
  padding-top: 11em;
  position: relative;
}

.cloud {
  position: absolute;
  filter: blur(11px);
}
.cloud.big {
  top: 70px;
  right: -679px;
}
.cloud.little {
  top: 336px;
  right: -310px;
}

.site-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 18em;
  padding-bottom: 0em;
}
.site-footer ul {
  padding: 77px 0 0 0;
  margin: 0;
}
.site-footer::after {
  bottom: 47.8em;
}
.site-footer::before {
  left: 8rem;
  top: 8rem;
}

.container-section-nomination {
  display: flex;
  width: 100%;
  margin: 0px 0 275px 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-section-nomination .img-oscars {
  margin: 0 0 0 60px;
  width: 235px;
  height: 121px;
}
.container-section-nomination .txt__back-nomination {
  background-image: url("../img-festival/back-orange-nomination.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}/*# sourceMappingURL=style.css.map */