//      A N I M A T I O N : S E C T I O N S 

.scrolled-top{
     opacity: 0;
    transform: translateY(50px);
    animation: scroll-in 2s forwards;
}

@keyframes scroll-in {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.scrolled-down{
    opacity: 0;
    transform: translateY(-150px);
    animation: scroll-down 2s forwards;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
//     S E C T I O N  : N A V B A R 
#navigation{
    position: fixed;
    z-index: 50;
	background-color: #FFD5A2;
	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-550px);
    transition: transform 0.3s ;
    &.active{
        transform: translate(0);
    }
}

#navigation .container-menu{
    width: 100%;
    height: 90%;
    padding-top: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFD5A2;
    overflow: hidden;    
}

#navigation.active .container-menu{
    background-color: #fff  
}
// I m a  g e s  d u  m e n u  B u r g e r 

.container__nav-imgs > img{
    position: absolute;
    width: 90px;
    height: 90px;
}

.container__nav-imgs{
    opacity: 0;
    .img__nav-cat-black{
        top: 50%;
        right: 30%;
        animation: floating 5s ease-in-out 2s infinite;
    }
    .img__nav-cat-blue{
        top: 12%;
        left: 30%;
        animation: floating 5s ease-in-out 2s infinite;
    }
    .img__nav-cat-orange{
        bottom: 10%;
        left: 10%;
        width: 60px;
        height: 60px;
        animation: floating 5s ease-in-out 2s infinite;
    }
    .img__nav-Flower{
        bottom: 45%;
        left: 30%;
        height: 40px;
        width: 40px;
        animation: rotate 13s linear infinite;
    }
    .img__nav-Hibiscus{
        bottom: -9%;
        right: -9%;
        height: 250px;
        width: 250px;
        animation: rotate 13s linear infinite;
    }
    .img__nav-logo{
        top: 5%;
        left: 50%;
    }
    .img__nav-Orchid{
        top: 7%;
        left: -2%;
        animation: rotate 13s linear infinite;
    }
    .img__nav-Ramdom-flower{
        top: 40%;
        right: -1%;
        height: 50px;
        width: 50px;
        animation: rotate 13s linear infinite;
    }
    .img__nav-sunflower{
        top: 5%;
        right: 20%;
        height: 140px;
        width: 140px;
        animation: rotate 13s linear infinite;
    }
}

 // C l a s s JS - T o g g l e  I m a g e s 
.container__nav-imgs.active{
    opacity: 1;
}

//  L i e n s   M e n u   B u r g e r 
ul{
    list-style: none;  
}

ul > li{
    margin-bottom: 30px;

}
 li > .link__nav{
    text-decoration: none;
    font-size: 3rem;
 }

 .link-footer-menu-nav{
    font-size: 9px;
    margin-bottom: 10px;
    text-decoration: none;
 }

  li > .link__nav:hover{
     text-shadow: #ff9100 3px 3px 4px;
     color: #000;
  }

.title-nav-fermer{
    z-index: 10000;
    position: fixed;
    top: 7%;
    left: 39%;
    font-family: "Quicksand", sans-serif;
	font-size: 21.5px;

} 

// I c o n e  O u v e r t u r e - F e r m e t u r e 
.nav-toggle{
    position: fixed;
    z-index: 10000;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;

} 

.nav-toggle.active .l1{
    transform: translateY(0px) rotate(135deg);
} 

.nav-toggle.active .l3{
    transform: translateY(0px) rotate(-135deg);
} 
.nav-toggle.active .l2{
    opacity: 0;
} 

.line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: transform 0.3s ease-out, 
    opacity 0.1s ease-out;
    &.l1{
        transform: translateY(-10px);
    }   
    &.l3{
        transform: translateY(10px);
    }
}

// S E C T I O N   :   H E A D E R

#banner{
    min-height: 606px;
}

.video__img-txt{
    z-index: 2;
}

#background-video{
    z-index: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/*   A n i m a t i o n  :  F l o t t e m e n t   */
.floating{
    opacity: 1;
    animation: floating 5s ease-in-out 2s infinite;
}

@keyframes floating{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

//   A N I M A T I O N : R O T A T I O N  F L E U R S 

.story__article::after{
    animation: rotate 13s linear infinite;
}
.story h2::after{
    animation: rotate 13s linear infinite;
}

#studio h2::before{
    animation: rotate 13s linear infinite;
}

#studio h2::after{
    animation: rotate 13s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

// S E C T I O N  :  P E R S O N N A G E S
 .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 350px;
      margin-right: 200px;
        .swiper-slide img {
        display: block;
        width: 100%;
        }
    }
}

// S E C T I O N  : P L A C E 

.story #place{
    background-image: url("../images_koukaki/Studio_Koukaki-image_place.png");
    background-attachment: fixed;
    position: relative;
    width: 100%;
    min-height: 100vh;
    .container{
        padding-top: 11em;
        position: relative;
    }
}

.cloud{
    position: absolute;
    filter: blur(11px);
    &.big{
        top: 70px;
        right: -300px;   
    }
    &.little{
        top: 336px;
        right: 0;
    }
}

// S  E  C  T  I  O  N   :  N O M I N A T I O N 
.site-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18em;
    padding-bottom: 0em;
    ul {
    padding: 77px 0 0 0;
    margin: 0;
    }
    &::after{
            bottom: 47.8em;
            animation: rotate 13s linear infinite;
    }
    &::before{
        left: 8rem;
        top: 8rem;
        animation: rotate 13s linear infinite;
    }
}


.container-section-nomination{
    display: flex;
    width: 100%;
    margin: 0px 0 275px 0;
    justify-content: center;
    align-items: center;
    position: relative;
    .img-oscars{
        margin: 0 0 0 60px;
        width: 235px;
        height: 121px;
    }

    .txt__back-nomination{
        
        background-image:  url("../img-festival/back-orange-nomination.png"); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
    } 
}
// A N I M A T I O N  :  D E S  T I T R E S
.zindex-p-story{
    z-index: 3;
}
.story h2::before{
    z-index: 0;
}
.title-h2{
    padding: 108px;
    width: 100%;
}

.title-h3{
    padding: 90px;
    width: 100%;
    margin-bottom: 20px;
}

.title-h3-place{
    padding: 150px 150px 0 150px;
    
}

.fadeinBottomStory {
    opacity:0;
    max-width:100%;
    position: absolute;
    top: 7%;
    left: 40%;
    z-index: 0;
}

.fadeinBottomStudio {
    opacity:0;
    max-width:100%;
    position: absolute;
    top: 20%;
    left: 32%;
}

.fadeinBottomStudio-2 {
    opacity:0;
    max-width:100%;
    position: absolute;
    top: 20%;
    left: 48%;
}

.fadeinBottomCharacters{
    opacity:0;
    max-width:100%;
    position: absolute;
    top: 15%;
    left: 43%;
}

.fadeinBottomPlace{
    opacity:0;
    max-width:100%;
    position: absolute;
    bottom: 30%;
    left: 13%;
}
